.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 100%;

  input[type="text"] {
    color: var(--text-normal);
    border: none;
    background: none;
    padding: 10px;
    width: 100%;
    outline: 0;
    border-bottom: 1px solid var(--text-muted);

    &:focus {
      border-width: 1px;
      border-image: linear-gradient(90deg, var(--fa-third), var(--fa-primary));
      border-image-slice: 1;
    }
  }

  textarea {
    color: var(--text-normal);
    outline: 0;
    background: none;
    border: 1px solid var(--text-muted);
    width: 100%;
    resize: none;
    padding: 10px;
    max-height: 160px;
    line-height: 16px;

    &:focus {
      border-width: 1px;
      border-image: linear-gradient(90deg, var(--fa-third), var(--fa-primary));
      border-image-slice: 1;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: var(--text-normal-hover);
    }
  }

  .text_bottom {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    margin-right: 5px;

    svg {
      padding: 2px;
    }
  }
}
